<html>
	<head>
		<title>lampara 2</title>
		<meta charset="utf-8">
		<!-- <meta http-equiv="refresh" content="2"> -->
	</head>
	<body style="text-align:center;">
		<button id="conmutador" onclick="llamada()">Llamada</button>
		<br>
		<br>
		<button id="presencia" onclick="presencia()">Presencia</button>
		<br>
		<br>
		{% if lampara==0 %}
			<img id="lampara" src="/static/pic_bulboff.gif">
		{% else %}
			<img id="lampara" src="/static/pic_bulbon.gif">
		{% endif %}
	</body>
</html>
<script type="text/javascript">
	//let estado=0;
	function llamada(){
		fetch('http://localhost:5000/llamada/1/101A') 
			.then(response => response.json()) // Convierte la respuesta en JSON
		}

	function presencia(){
		fetch('http://localhost:5000/presencia/101/A') 
			.then(response => response.json()) // Convierte la respuesta en JSON
	}
</script>
